<h1>TALLER RXJS ANGULAR</h1>
<div>
  <form #form="ngForm" (ngSubmit)="getUser()">
    <label>User ID: </label>
    <input
      type="number"
      name="User ID"
      [(ngModel)]="txtUser"
      placeholder="Type a user's id."
    />
    <button type="submit">Search</button>
  </form>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<!-- User Component -->
<app-user [user]="user$ | async"></app-user>
<!-- Post Component -->
<ng-container *ngIf="posts$ | async as posts">
  <app-post [posts]="posts"></app-post>
</ng-container>
