<h1>TALLER RXJS ANGULAR</h1>
<div>
  <form #form="ngForm" (ngSubmit)="getUser()">
    <label>User ID: </label>
    <input
      type="number"
      name="User ID"
      [(ngModel)]="txtUser"
      placeholder="Type a user's id."
    />
    <button type="submit">Search</button>
  </form>
</div>
<!-- User Component -->
<h2>User Info</h2>
<app-user [user]="user$ | async"></app-user>
<!-- Post Component -->
<h2>User's Posts</h2>
<ng-container *ngIf="posts$ | async as posts">
  <app-post [posts]="posts"></app-post>
</ng-container>
<!-- Comments Component -->
<h3>Post's Comments</h3>
<ng-container *ngIf="comments$ | async as comments">
  <app-comments [comments]="comments"></app-comments>
</ng-container>
